---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    {% include date_es.html date=post.date time-attributes='class="post-date"' %}

    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Leer Más</a>
  </article>
  {% endfor %}

  <nav class="post-nav">
    {% if paginator.next_page %}
      <p><a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Más antiguo</a></p>
    {% endif %}

    {% if paginator.previous_page %}
      <p><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Más nuevo</a></p>
    {% endif %}
  </nav>
</div>
