---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% include date_es.html date=page.date time-attributes=' class="post-date"' %}

  {% include tags_en_post.html %}

  <div class="entry">
    {{ content }}
  </div>

  <footer class="post-foot">

    {% include category_en_post.html %}

    <div class="date">
      Escrito el {% include date_es.html date=page.date %}
    </div>

  </footer>

  <div class="post-nav">
    <p>
      {% if page.previous.url %}
      <a href="{{ site.baseurl }}{{page.previous.url}}">&#8672;&nbsp;{{page.previous.title}}</a>
      {% endif %}
    </p>
    <p>
      {% if page.next.url %}
      <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}&nbsp;&#8674;</a>
      {% endif %}
    </p>
  </div>

  {% include disqus.html %}
</article>
